<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 콘솔 로그 -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<!-- 패턴 레이아웃 설정.. -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%c{1}] [%d{yyyy-MM-dd HH:mm:ss}] [%L] [%p] %m %n" />
		</layout>
	</appender>

	<!-- DailyRollingFileAppender test용 info 로그 -->
	<appender name="dailyrollinginfo" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="INFO" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="File" value="/lazecrew/log/WonderEquips/we.info.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%C{10}] %m%n" />
		</layout>
	</appender>

	<logger name="team.lazecrew.service" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</logger>

	<!-- root 로거 기본 설정 -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</root>
	
</log4j:configuration>  